*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 10, 10)  ;
    color: rgb(153, 152, 152);
    margin: 0;
    padding: 0;
}

.navBar {
    /* display: flex; */
    /* text-align: center; */
    /* text-decoration: none; */
    background-color: rgba(25, 40, 43, 0.603);
    font-weight: 100;
    height: 3rem;
    font-size: 1.5rem;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding: 1rem;
}


.logo {
    float: left;
    color:rgb(170, 218, 218);
    /* outline-offset: black; */

    /* font-weight: 200; */
    font-size: 1em;
    padding: 0.5em;
    /* box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2); */
}

.nav_right {
    /* text-decoration: none; */
    float: right;
    color: rgb(30, 40, 43);
    font-size: 1em;
    padding: 0.5em;
}

.nav_right :hover {
    color: rgba(87, 55, 29, 0.795);
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.5em;
}

.quotee{
    text-align: center;
}

.quote{
    margin: 2rem 0rem 2rem 0rem;
    width: 50rem;
    height: 20rem;
    border-radius: 2%;

    /* width: 100%;
    background-color: rgba(97, 96, 96, 0.2); */
    box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2);
}

/* .portfolio {
    word-wrap: inherit;
} */

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#about_me {
    background-color: rgba(97, 96, 96, 0.2);
    padding: 1rem;
    font-size: 0.9rem;
    box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2);
}

section {
    display: block;
    padding: 2rem;
}


/* CONTACT PAGE */
.contactInfo {
    display: flex;
    justify-content: space-evenly;
    /* /* margin: 2rem; */
    padding: 2rem; 
    box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2);

}

.container {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
    width: 100%;

    
}

.column {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.input {
    margin: .5em 0;
}

.submit_button{
    width: 16em;
    margin: 1em 0 0 0;
}



/* FOOTER */
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px .2px black;
}

.media-link {
    height: 30px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: none;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  /* header, footer {
    background: #f8f8f8;
  } */